<h1>You chose a principle of $<%= @principal.to_i %>, an apr of <%= @apr %>%, and a time period of <%= @years.to_i %> years. </h1>

<h2>Your monthly payment will be  $<%= "%.2f" % @monthly_payment %> </h2>
